# IDE
.idea/
.vs/

# Node Modules
node_modules/
package-lock.json

worldbuilding.lock

# Foundry
foundry/

# IP
*.fsh
storage/
storage_backup/
packs/frames/
packs/internal_npc/
packs/internal_pc/
packs/sizes/
packs/tags/
packs/*/LOCK
packs/*/LOG
packs/*/*.log