<div class="attribute-col">
    <div class="attribute-box">
        <div class="attribute-top-row">
            <div class="name-box">Ballast</div>
            <div class="value-box">{{actor.system.ballast.total.value}}</div>
        </div>
        <div class="attribute-bottom-row">
            <div class="attribute-piece">
                <p class="piece-label">
                    Base
                </p>
                <div class="piece-value">
                    {{actor.system.ballast.base.value}}
                </div>
            </div>
            <div class="attribute-piece">
                <p class="piece-label">
                    Weight
                </p>
                <div class="piece-value">
                    {{actor.system.ballast.weight.value}}
                </div>
            </div>
            <div class="attribute-piece">
                <p class="piece-label">
                    Mods
                </p>                        
                <input
                    class="piece-value editable"
                    type="number"
                    name="actor.system.ballast.modifiers.value"
                    value="{{actor.system.ballast.modifiers.value}}"
                    data-dtype="Number"
                />
            </div>
        </div>
    </div>
    <hr class="divider primary">
    {{#each actor.system.attributes.rolled as |attrib key|}}
    {{>
        "systems/hooklineandmecha/templates/partials/attribute-box.html"
        attribute=attrib
        key=key
        type="rolled"
    }}
    {{#unless @last}}
        <hr class="divider secondary">
    {{/unless}}
    {{/each}}
    <hr class="divider primary">
    {{#each actor.system.attributes.flat as |attrib key|}}
    {{>
        "systems/hooklineandmecha/templates/partials/attribute-box.html"
        attribute=attrib
        key=key
        type="flat"
    }}
    {{#unless @last}}
        <hr class="divider secondary">
    {{/unless}}
    {{/each}}
</div>