<div class="card flex-col " data-id="id{{item._id}}">
    <div class="card-header flex-row">
        <div class="expander-icon"></div>
        <h3 class="card-name">{{item.name}}</h3>
        <div class="spacer"></div>
        <div class="btn btn-primary post-button sheet-row-button" data-id="id{{item._id}}">{{localize "SHEET.post"}}</div>
    </div>
    <div class="card-body">
        <!-- <div class="delete-overlay">
            <div class="delete-box">
                <div class="delete-item btn" data-id="id{{item._id}}">
                    {{localize "SHEET.delete"}}
                </div>
            </div>
        </div> -->
        <div class="card-text font-12 format-me">{{{item.system.description_text}}}</div>
    </div>
</div>