<table class="history-table full-width">
    {{#each history}}
    <tr class="history-table-row" data-el="{{this.el}}">
        <td class="el-column">EL {{this.el}}</td>
        <td class="item-column">
            <div class="history-row flex-row">
                {{#each this.injuries}}
                {{>
                    "systems/fathomlessgears/templates/partials/history-list-item.html"
                    item = this
                }}
                {{/each}}
            </div>
        </td>
        <td class="item-column">
            <div class="history-row flex-row">
                {{#each this.touches}}
                {{>
                    "systems/fathomlessgears/templates/partials/history-list-item.html"
                    item = this
                }}
                {{/each}}
            </div>
        </td>
    </tr>
    {{/each}}
</table>