<div class="card flex-col {{#if popout}}popout{{/if}} {{#if internal.flags.fathomlessgears.broken}}broken{{/if}}" data-id="id{{internal._id}}">
    <div class="card-header flex-row">
        <div class="expander-icon"></div>
        <h3 class="card-name">{{internal.name}}</h3>
        <div class="spacer"></div>
        {{#ifcond internal.system.ap_cost '!=' null}}
        <p class="card-ap font-12">{{internal.system.ap_cost}} AP</p>
        {{/ifcond}}
        {{#unless popout}}
        {{#unless fixedState}}
        <div class="btn break-button font-12 {{#if internal.flags.fathomlessgears.broken}}btn-dark{{/if}}" data-id="id{{internal._id}}">
            {{#if internal.flags.fathomlessgears.broken}}
            {{localize "SHEET.internalfix"}}
            {{else}}
            {{localize "SHEET.internalbreak"}}
            {{/if}}
        </div>
        {{/unless}}
        <div class="btn btn-primary post-button sheet-row-button {{#if internal.flags.fathomlessgears.broken}}btn-dark{{/if}}" data-id="id{{internal._id}}">{{localize "SHEET.post"}}</div>
        {{/unless}}
    </div>
    <div class="card-body">
        <!-- <div class="delete-overlay">
            <div class="delete-box">
                <div class="delete-item btn" data-id="id{{internal._id}}">
                    {{localize "SHEET.delete"}}
                </div>
            </div>
        </div> -->
        <div class="break-overlay">
        </div>
        {{#if internal.system.attack}}
        {{>
            "systems/fathomlessgears/templates/partials/attack-info.html"
            attack=internal.system.attack
        }}
        {{/if}}
        {{#if internal.system.tags}}
        {{>
            "systems/fathomlessgears/templates/partials/tag-row.html"
            tags=internal.system.tags
            format=true
        }}
        {{/if}}
        <div class="card-text font-12 format-me">{{{internal.description_text}}}</div>
    </div>
</div>