{{#if modifiers}}
<div class="modifier-info flex-row">
	{{#each modifiers}}
	{{>
		"systems/fathomlessgears/templates/partials/roll-modifier-list-partial.html"
		modifier=this
	}}
	{{/each}}
</div>
{{/if}}
<div class="hit-result">
	{{#if label_left}}
	<div class="roll-label descriptor">
		<div class="roll-label-text">{{{label_left}}}</div>
	</div>
	{{/if}}
	{{#if preformat}}
	{{{total}}}
	{{else}}
	<div class="dice-roll">
		<div class="row dice-result">
			<h4 class="dice-total"data-tooltip="{{tooltip}}">{{total}}</h4>
		</div>
	</div>
	{{/if}}
	<div class="roll-label outcome">
		<div class="roll-outcome-text">{{{outcome}}}</div>
	</div>
</div>
