<div class="internal-box flex-col " data-id="id{{item._id}}">
    <div class="internal-header flex-row">
        <div class="expander-icon"></div>
        <h3 class="internal-name">{{item.name}}</h3>
        <div class="spacer"></div>
        {{#ifcond item.system.ap_cost '!=' null}}
        <p class="internal-ap">{{item.system.ap_cost}} AP</p>
        {{/ifcond}}
        <div class="btn btn-primary post-button" data-id="id{{item._id}}">{{localize "SHEET.post"}}</div>
    </div>
    {{#if item.isInternal}}
    <div class="flex-row justify-space-between full-width">
        <p class="activated-text">{{localize "SHEET.activated" }}</p>
        <input class="inline-checkbox maneuver-checkbox" type="checkbox" data-selector="activated" data-id="id{{item._id}}" {{checked item.activated}}>
    </div>
    {{/if}}
    <div class="internal-body">
        <div class="delete-overlay">
            <div class="delete-box">
                <div class="delete-item btn" data-id="id{{item._id}}">
                    {{localize "SHEET.delete"}}
                </div>
            </div>
        </div>
        {{#if item.system.attack}}
        {{>
            "systems/fathomlessgears/templates/partials/attack-info.html"
            attack=item.system.attack
        }}
        {{/if}}
        {{#if item.system.tags}}
        {{>
            "systems/fathomlessgears/templates/partials/tag-row.html"
            tags=item.system.tags
        }}
        {{/if}}
        <div class="internal-text">{{{item.system.action_text}}}</div>
    </div>
</div>