<form class="flexcol {{cssClass}}" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img
			class="profile-img"
			src="{{actor.img}}"
			data-edit="img"
			title="{{actor.name}}"
			height="100"
			width="100"
		/>
		<div class="header-fields">
			<h1 class="charname">
				<input
					name="name"
					type="text"
					value="{{actor.name}}"
					placeholder="Name"
				/>
			</h1>
			<div
				class="type-size-select flex-container"
				style="display: flex; flex-direction: row; width: 100%"
			>
				<select
					class="dropdown"
					name="selectedNpcType"
					id="selectedNpcType"
				>
					{{#select selectedNpcType }}
					{{#each npcTypes as |type key|}}
					<option value="{{key}}">{{type.label}}</option>
					{{/each}}
					{{/select}}
				</select>
				<select
					class="dropdown"
					name="selectedNpcSize"
					id="selectedNpcSize"
				>
					{{#select selectedNpcSize}}
					{{#each npcSizes as |size key|}}
					<option value="{{key}}">{{size.label}}</option>
					{{/each}}
					{{/select}}
				</select>
				<div class="button-dark set-types">
					{{localize "HEADER.setTypes"}}
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="attributes">Attributes</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			{{> "systems/hooklineandmecha/templates/attributes-tab.html"
			attributes=actor.system.attributes
			ballast=actor.system.ballast}}
		</div>
	</section>
</form>
