<form class="flexcol {{cssClass}}" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img
			class="profile-img"
			src="{{actor.img}}"
			data-edit="img"
			title="{{actor.name}}"
			height="100"
			width="100"
		/>
		<div class="header-fields">
			<h1 class="charname">
				<input
					name="name"
					type="text"
					value="{{actor.name}}"
					placeholder="Name"
				/>
			</h1>
			<div
				class="flex-container"
				style="display: flex; flex-direction: row; width: 100%"
			>
				{{#each actor.system.resources as |resource key|}}
				<div style="flex: 80%">
					<div class="resource">
						<label>{{resource.label}}</label> <br />
						<input
							type="number"
							name="system.resources.{{key}}.value"
							value="{{resource.value}}"
							data-dtype="Number"
							width="40%"
						/>
						<span> / </span>
						<input
							type="number"
							name="system.resources.{{key}}.max"
							value="{{resource.max}}"
							data-dtype="Number"
							width="40%"
						/>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="attributes">Attributes</a>
		<a class="item" data-tab="description">Description</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Biography Tab --}}
		<div
			class="tab description"
			data-group="primary"
			data-tab="description"
		>
			{{editor actor.system.biography target="system.biography"
			button=true owner=owner editable=editable}}
		</div>

		{{!-- Attributes Tab --}} {{>
		"systems/hooklineandmecha/templates/attributes-tab.html"
		attributes=actor.system.attributes
		weightClass=actor.system.weightClass}}
	</section>
</form>
