<form class="flexcol {{cssClass}} fish" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<h1 class="charname flex-row">
            <input
                name="name"
                type="text"
                value="{{actor.name}}"
                placeholder="Name"
            />
            <div id="import-button" class="btn actor-button import-button">{{localize "SHEET.initgearwright"}}</div>
        </h1>
	</header>
    <div class="sheet-contents flex-row">
        {{#if showCover}}
        {{>
            "systems/fathomlessgears/templates/partials/initialise-cover.html"
            actor=actor
            showInitialiseButtons = showInitialiseButtons
        }}
        {{/if}}
        {{>
            "systems/fathomlessgears/templates/partials/attribute-sidebar.html"
            actor=actor
            rolled=rolled
            flat=flat
            dark=true
        }}
        <div class="sheet-data">

            <section class="sheet-body">                
                <!---------------------------------------------------
                        FISH TAB
                ---------------------------------------------------->
                <div class="tab-content">
                    <div class="col">
                        <div class="flex-row">
                            <div class="flex-col gear-col">
                                <img
                                    class="profile-img"
                                    src="{{actor.img}}"
                                    data-edit="img"
                                    title="{{actor.name}}"
                                    max-height="200"
                                    width="130"
                                />
                                <div class="holder">
                                    <div class="resource-row flex-row">
                                        <p class="novok">{{localize "ITEMTYPE.size"}}</p>
                                        <p class="novok">{{size.name}}</p>
                                    </div>
                                    <div class="resource-row flex-row">
                                        <p class="novok">{{localize "ITEMTYPE.template"}}</p>
                                        <p class="novok">{{template}}</p>
                                    </div>
                                </div>
                                <div class="btn actor-button hit-location-button" id="hit-location">{{localize "SHEET.hitlocation"}}</div>
                                <div class="btn actor-button" id="scan">{{scan_text}}</div>
                            </div>
                            <div class="flex-col">
                                {{#if interactiveGrid}}
                                {{>
                                    "systems/fathomlessgears/templates/partials/grid-box.html"
                                    grid=grid
                                }}
                                {{else}}
                                <img
                                    class="grid-img"
                                    id="grid-img"
                                    src="{{actor.system.grid}}"
                                    data-edit="system.grid"
                                    title="{{actor.name}}"
                                    max-height="350"
                                    width="350"
                                />
                                {{/if}}
                            </div>
                        </div>
                        <div class="internal-category flex-row">
                            <h3 class="internal-category-header">{{localize "INTERNALS.weapons"}}</h3>
                            {{#each weapons}}
                            {{>
                                "systems/fathomlessgears/templates/partials/internal-partial.html"
                                internal=this
                                popout=false
                                fixedState=@root.actor.flags.fathomlessgears.interactiveGrid
                            }}
                            {{/each}}
                        </div>
                        <div class="internal-category flex-row">
                            <h3 class="internal-category-header">{{localize "INTERNALS.active"}}</h3>
                            {{#each active}}
                            {{>
                                "systems/fathomlessgears/templates/partials/internal-partial.html"
                                internal=this
                                popout=false
                                fixedState=@root.actor.flags.fathomlessgears.interactiveGrid
                            }}
                            {{/each}}
                        </div>
                        <div class="internal-category flex-row">
                            <h3 class="internal-category-header">{{localize "INTERNALS.passive"}}</h3>
                            {{#each passive}}
                            {{>
                                "systems/fathomlessgears/templates/partials/internal-partial.html"
                                internal=this
                                popout=false
                                fixedState=@root.actor.flags.fathomlessgears.interactiveGrid
                            }}
                            {{/each}}
                        </div>
                        {{#if deep_words}}
                            <div class="internal-category flex-row">
                                <h3 class="internal-category-header">{{localize "ITEMTYPE.deep_word"}}s</h3>
                                {{#each deep_words}}
                                {{>
                                    "systems/fathomlessgears/templates/partials/maneuver-partial.html"
                                    item=this
                                }}
                                {{/each}}
                            </div>
                        {{/if}}
                    </div>
                </div>
            </section>
        </div>
    </div>

</form>