<form class="flexcol {{cssClass}} fisher" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<h1 class="charname flex-row">
            <input
                name="name"
                type="text"
                value="{{actor.name}}"
                placeholder="Name"
            />
            <p class="actor-el">EL </p>
            <input
                class="actor-el"
                value="{{actor.system.fisher_history.el}}"
                type="number"
                name="system.fisher_history.el"
            />
            <div id="import-button" class="btn import-button">{{localize "SHEET.initgearwright"}}</div>
        </h1>
	</header>
    <div class="sheet-contents flex-row">
        {{#if showCover}}
        {{>
            "systems/fathomlessgears/templates/partials/initialise-cover.html"
            actor=actor
            showInitialiseButtons = showInitialiseButtons
        }}
        {{/if}}
        {{>
            "systems/fathomlessgears/templates/partials/attribute-sidebar.html"
            actor=actor
            rolled=rolled
            flat=flat
            dark=true
        }}
        <div class="sheet-data">
            <nav class="sheet-tabs flex-row">
                <a data-tab="gear">{{localize "TABS.gear"}}</a>
                <a data-tab="character">{{localize "TABS.downtime"}}</a>
            </nav>

            <section class="sheet-body">
                <!---------------------------------------------------
                        CHARACTER TAB
                ---------------------------------------------------->
                <div class="tab" data-tab="character">
                    <div class="tab-content flex-row">
                        <div class="col">
                            <div class="flex-row">
                                <div class="sheet-col profile-img">
                                    <img
                                        src="{{actor.system.pilot_portrait}}"
                                        data-edit="system.pilot_portrait"
                                        title="{{actor.system.pilot-name}}"
                                    />
                                </div>
                                <div class="sheet-col flex-col flex-1">
                                    <div class="flex-row full-width">
                                        <input
                                            class="pilot-name sheet-input"
                                            value="{{actor.system.fisher_history.character_name}}"
                                            name="system.fisher_history.character_name"
                                            type="text"
                                            placeholder="Pilot name"
                                        />
                                        <input
                                            class="background sheet-input"
                                            value="{{actor.system.fisher_history.background}}"
                                            name="system.fisher_history.background"
                                            type="text"
                                            placeholder="Background"
                                        />
                                    </div>
                                    <div class="holder">
                                        <h3 class="description-header full-width">Description</h3>
                                        {{editor actor.system.biography target="system.biography"
                                        button=true owner=owner editable=editable}}
                                    </div>
                                </div>
                            </div>
                            <div class="options-set">
                                <h2 class="options-header">
                                    Shore Leave
                                </h2>
                                <div class="flex-row">
                                    {{>
                                        "systems/fathomlessgears/templates/partials/labels.html"
                                        labels=labels
                                    }}
                                    {{>
                                        "systems/fathomlessgears/templates/partials/history-table.html"
                                        history=history
                                        editingHistory = editingHistory
                                    }}
                                </div>
                                <div class="flex-row">
                                    <p class="novok">Novok</p>
                                    <input
                                        class="downtime-value sheet-input"
                                        value="{{actor.system.downtime.novok}}"
                                        type="number"
                                        name="system.downtime.novok"
                                    />
                                </div>
                            </div>
                            <div class="options-set">
                                <h2 class="options-header">
                                    Developments
                                </h2>
                                <div class="internal-category flex-row">
                                    {{#each developments}}
                                    {{>
                                        "systems/fathomlessgears/templates/partials/development-partial.html"
                                        item=this
                                    }}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <!---------------------------------------------------
                        GEAR TAB
                ---------------------------------------------------->
                <div class="tab" data-tab="gear">
                    <div class="tab-content">
                        <div class="flex-row">
                            <div class="flex-col gear-col">
                                <input
                                    class="gear-name sheet-input"
                                    value="{{actor.system.gear_name}}"
                                    name="system.gear_name"
                                    type="text"
                                    placeholder="Gear name"
                                />
                                <img
                                    class="profile-img"
                                    src="{{actor.img}}"
                                    data-edit="img"
                                    title="{{actor.name}}"
                                    max-height="200"
                                    width="130"
                                />
                                <div class="holder">
                                    <h2 class="frame-name">{{frame.name}}</h2>
                                    <div class="frame-ability">
                                        <div class="flex-row frame-ability-row">
                                            <h3 class="frame-ability-name">{{frame.system.gear_ability_name}}</h3>
                                            <div class="btn post-message" id="post-frame-ability">{{localize "SHEET.post"}}</div>
                                        </div>
                                        <p class="frame-ability-text format-me">{{frame.system.gear_ability}}</p>
                                    </div>
                                </div>
                                <div class="btn repairs-button">{{localize "SHEET.calculateRepairs"}}</div>
                            </div>
                            <div class="flex-col">
                                {{#if interactiveGrid}}
                                {{>
                                    "systems/fathomlessgears/templates/partials/grid-box.html"
                                    grid=grid
                                }}
                                {{else}}
                                <img
                                    class="grid-img"
                                    id="grid-img"
                                    src="{{actor.system.grid}}"
                                    data-edit="system.grid"
                                    title="{{actor.name}}"
                                    max-height="350"
                                    width="350"
                                />
                                {{/if}}
                            </div>
                        </div>
                        <div class="internal-category flex-row">
                            <h3 class="internal-category-header">{{localize "INTERNALS.weapons"}}</h3>
                            {{#each weapons}}
                            {{>
                                "systems/fathomlessgears/templates/partials/internal-partial.html"
                                internal=this
                                popout=false
                                fixedState=@root.actor.flags.fathomlessgears.interactiveGrid
                            }}
                            {{/each}}
                        </div>
                        <div class="internal-category flex-row">
                            <h3 class="internal-category-header">{{localize "INTERNALS.active"}}</h3>
                            {{#each active}}
                            {{>
                                "systems/fathomlessgears/templates/partials/internal-partial.html"
                                internal=this
                                popout=false
                                fixedState=@root.actor.flags.fathomlessgears.interactiveGrid
                            }}
                            {{/each}}
                        </div>
                        <div class="internal-category flex-row">
                            <h3 class="internal-category-header">{{localize "INTERNALS.passive"}}</h3>
                            {{#each passive}}
                            {{>
                                "systems/fathomlessgears/templates/partials/internal-partial.html"
                                internal=this
                                popout=false
                                fixedState=@root.actor.flags.fathomlessgears.interactiveGrid
                            }}
                            {{/each}}
                        </div>
                        <div class="options-set">
                            <div class="options-header flex-row">
                                <div>
                                    Maneuvers
                                </div>
                                <div class="spacer"></div>
                                {{#if encore}}
                                    <p class="activated-text font-12">{{ encore.name }}</p>
                                    <input class="inline-checkbox maneuver-checkbox" type="checkbox" data-selector="activated" data-id="id{{encore.id}}" {{checked encore.activated}}>
                                {{/if}}
                                <button class="btn btn-primary reset-button sheet-row-button">{{localize "SHEET.reset"}}</button>
                            </div>
                            <div class="internal-category flex-row">
                                {{#each maneuvers}}
                                {{>
                                    "systems/fathomlessgears/templates/partials/maneuver-partial.html"
                                    item=this
                                }}
                                {{/each}}
                            </div>
                        </div>
                        <div class="options-set">
                            <h2 class="options-header">
                                {{localize "ITEMTYPE.deep_word"}}s
                            </h2>
                            <div class="internal-category flex-row">
                                {{#each deep_words}}
                                {{>
                                    "systems/fathomlessgears/templates/partials/maneuver-partial.html"
                                    item=this
                                }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</form>