<form autocomplete="off">
    <div id="overlay"> </div>
    <ol class="datafile-table">
        <li class="datafile-row datafile-header">
            <div class="datafile-label" i18n>Data file</div>
            <div class="datafile-version" i18n>Version</div>
        </li>
        {{#each dataFiles as |file key|}}
            <li class="datafile-row">
                <div class="datafile-label">{{file.filename}}</div>
                <div class="datafile-version">{{file.version}}</div>
                <div class="button update" filename="{{file.filename}}" version="{{file.version}}" i18n>Update</div>
                <div class="button remove" filename="{{file.filename}}" version="{{file.version}}" i18n>Delete</div>
            </li>
        {{/each}}
    </ol>
    <div class="button add-new-fsh">Add new...</div>
</form>