<form autocomplete="off">
    <div class="col">
        <div>Import .fsh</div>
        <div class="import-row">
            <input id="fsh-file-select" type="file" name="fsh-file-select" class="file-upload" accept=".json, .fsh">
            <div class="file-upload-button button" title="Import" tabindex="-1">
                <label>Import</label>
            </div>
        </div>
    </div>
    <ol class="datafile-table">
        <li class="datafile-row datafile-header">
            <div class="datafile-label" i18n>Data file</div>
            <div class="datafile-version" i18n>Version</div>
            <div class="datafile-actions" i18n>Actions</div>
        </li>
        {{#each datafiles as |file key|}}
            <li class="datafile-row">
                <div class="datafile-label">{{file}}</div>
                <div class="datafile-version">0.0.0</div>
                <div class="datafile-action-button button remove" id=file i18n>Remove</div>
            </li>
        {{/each}}
    </ol>
</form>