<div id="grid-hover-hud" class="grid-hover-hud flex-col {{position}}">
    <div class="lock-prompt-text">{{ lockPrompt }}</div>
    {{#if grid}}
    <div class="flex-row">
        <div class="flex-col full-height flex-0">
            <div class="grid-font-light grid-hud-attributes">
                <p>{{localize "ATTRIBUTES.close"}} {{grid.actor.attributesWithConditions.close.total}}</p>
                <p>{{localize "ATTRIBUTES.far"}} {{grid.actor.attributesWithConditions.far.total}}</p>
                <p>{{localize "ATTRIBUTES.mental"}} {{grid.actor.attributesWithConditions.mental.total}}</p>
                <p>{{localize "ATTRIBUTES.power"}} {{grid.actor.attributesWithConditions.power.total}}</p>
                <p>  -</p>
                <p>{{localize "ATTRIBUTES.evasion"}} {{grid.actor.attributesWithConditions.evasion.total}}</p>
                <p>{{localize "ATTRIBUTES.willpower"}} {{grid.actor.attributesWithConditions.willpower.total}}</p>
                <p>  -</p>
                <p>{{localize "ATTRIBUTES.speed"}} {{grid.actor.attributesWithConditions.speed.total}}</p>
                <p>{{localize "ATTRIBUTES.sensors"}} {{grid.actor.attributesWithConditions.sensors.total}}</p>
                <p>{{localize "ATTRIBUTES.baseAP"}} {{grid.actor.attributesWithConditions.baseAP.total}}</p>
                <p> -</p>
                {{#ifcond grid.actor.type "==" 'fisher'}}
                <p>{{localize "RESOURCES.repair"}} {{grid.actor.system.resources.repair.value}}/{{grid.actor.system.resources.repair.max}}</p>
                <p>{{localize "RESOURCES.core"}} {{grid.actor.system.resources.core.value}}/{{grid.actor.system.resources.core.max}}</p>
                {{/ifcond}}
                {{#ifcond grid.actor.type "==" 'fish'}}
                <p>{{localize "ATTRIBUTES.weight"}} {{grid.actor.system.attributes.weight.total}}</p>
                <p>{{grid.actor.system.template}}</p>
                {{/ifcond}}
            </div>
        </div>
        <div class="flex-1">
            {{>
                "systems/fathomlessgears/templates/partials/grid-box.html"
                grid=grid
            }}
        </div>
    </div>
    {{/if}}
    {{#if hp}}
    <div class="flex-col full-width hp-text text-center">
        {{hp}}
        <div class="grid-font-light">
            {{hpBreakdown}}
        </div>
    </div>
    {{/if}}
</div>