<form autocomplete="off">
    <p class="roll-component-header">{{localize "INTRO.header"}}</p>
    <p class="intro-text">{{localize "INTRO.main"}}</p>
    <p class="intro-text">{{localize "INTRO.second"}}</p>
    <div class="flex-row">
        <p class="roll-component-description">{{localize "INTRO.dontshowagain"}}</p>
        <input type="checkbox" name="dontshow" data-selector="dontshow" class="inline-checkbox">
    </div>
    <div class="flex-row dialog-btn-row">
        <div class="btn dialog-btn" id="skip">{{localize "INTRO.skip"}}</div>
        <div class="btn dialog-btn" id="manager">{{localize "INTRO.open"}}</div>
    </div>
</form>