<form autocomplete="off">
    <div class="col">
        <div class="flex-row">
            <p class="roll-component-description">AP</p>
            <input class="roll-component-value additional-value" type="number" data-selector="ap"
                value="{{ap}}">
        </div>
        <div class="flex-row">
            <p class="roll-component-description">{{localize "CONDITIONS.quickened"}}</p>
            <input type="checkbox" name="quickened" data-selector="quickened" class="inline-checkbox">
        </div>
        <div class="btn">{{localize "RESERVEDIALOG.confirm"}}</div>
    </div>
</form>