<form autocomplete="off">
    <div class="col">
        <div class="roll-component-box">
            <p class="roll-component-header">{{localize "ROLLDIALOG.attribute"}}</p>
            <ol class="roll-components">
                {{#each flatModifiers as |modifier key|}}
                    {{>
                        "systems/fathomlessgears/templates/partials/roll-element-toggle.html"
                        modifier=modifier
                    }}
                {{/each}}
            </ol>
        </div>
        <div class="roll-component-box">
            <p class="roll-component-header">{{localize "ROLLDIALOG.bonus"}}</p>
            <ol class="roll-components">
                {{#each flatBonuses as |modifier key|}}
                    {{>
                        "systems/fathomlessgears/templates/partials/roll-element-toggle.html"
                        modifier=modifier
                    }}
                {{/each}}
                <li class="roll-component-item">
                    <p class="roll-component-description">Other</p>
                    <input class="roll-component-value additional-value" type="number" data-selector="additionalFlat" value="{{additionalFlat}}">
                </li>
            </ol>
        </div>
        <div class="roll-component-box">
            <p class="roll-component-header">{{localize "ROLLDIALOG.additional"}}</p>
            <div class="flex-row">
                {{#if ranged}}
                <div class="flex-col flex-1">
                    <div class="flex-row cover-row">
                        <label class="cover-label" for="none">{{localize "COVERSTATE.none"}}</label>
                        <input type="radio" name="cover" value="none" id="none" checked>
                    </div>
                    <div class="flex-row cover-row">
                        <label class="cover-label" for="none">{{localize "COVERSTATE.soft"}}</label>
                        <input type="radio" name="cover" value="soft" id="soft">
                    </div>
                    <div class="flex-row cover-row">
                        <label class="cover-label" for="none">{{localize "COVERSTATE.hard"}}</label>
                        <input type="radio" name="cover" value="hard" id="hard">
                    </div>
                </div>
                {{/if}}
                <div class="flex-col flex-2 align-center">
                    <p>{{localize "CONDITIONS.focused"}}</p>
                    <input type="checkbox" name="focused" data-selector="focused" class="inline-checkbox">
                </div>
            </div>
        </div>
        <div class="flex-row justify-space-between total-row">
            <p>{{localize "ROLLDIALOG.total"}}</p>
            <p id="total-string">{{totalString}}</p>
        </div>
    </div>
    <div class="btn">{{localize "ROLLDIALOG.trigger"}}</div>
</form>