<form autocomplete="off">
    <div class="col">
        <p class="roll-component-header">Dice pool</p>
        <ol class="roll-components">
            {{#each die as |modifier key|}}
            <li class="roll-component-item">
                <p class="roll-component-description">{{modifier.description}}</p>
                <p class="roll-component-value">{{modifier.value}}d6</p>
            </li>
            {{/each}}
            <li class="roll-component-item">
                <p class="roll-component-description">Focused</p>
                <input type="checkbox" name="focused" data-selector="focused" class="inline-checkbox">
            </li>
            <li class="roll-component-item">
                <p class="roll-component-description">Additional</p>
                <input class="roll-component-value additional-value" type="number" data-selector="additionalDie" value="{{additionalDie}}"><p class="roll-component-value">d6</p>
            </li>
        </ol>
        
        <p class="roll-component-header">Flat modifiers</p>
        {{#if ranged}}
        <div class="flex-col">
            <div class="flex-row cover-row">
                <label class="cover-label" for="none">{{localize "COVERSTATE.none"}}</label>
                <input type="radio" name="cover" value="none" id="none" checked>
            </div>
            <div class="flex-row cover-row">
                <label class="cover-label" for="none">{{localize "COVERSTATE.soft"}}</label>
                <input type="radio" name="cover" value="soft" id="soft">
            </div>
            <div class="flex-row cover-row">
                <label class="cover-label" for="none">{{localize "COVERSTATE.hard"}}</label>
                <input type="radio" name="cover" value="hard" id="hard">
            </div>
        </div>
        {{/if}}
        <ol class="roll-components">
            {{#each flat as |modifier key|}}
            <li class="roll-component-item">
                <p class="roll-component-description">{{modifier.description}}</p>
                <p class="roll-component-value">{{modifier.value}}</p>
            </li>
            {{/each}}
            <li class="roll-component-item">
                <p class="roll-component-description">Additional (bonus)</p>
                <input class="roll-component-value additional-value" type="number" data-selector="additionalFlat" value="{{additionalFlat}}">
            </li>
        </ol>
    </div>
    <div class="btn">Roll it!</div>
</form>