<div class="message-body">
    <div class="message-subheader flex-row">
        <div>{{internal.name}}</div>
        <div>{{internal.system.ap_cost}} AP</div>
    </div>
    {{#if internal.system.tags}}
    {{>
        "systems/fathomlessgears/templates/partials/tag-row.html"
        tags=internal.system.tags
    }}
    {{/if}}
    {{#if internal.system.attack}}
    <div class="internal-text">{{internal.system.action_text}}</div>
    <hr class="divider primary">
    {{/if}}
    <div class="message-text">
        {{{text}}}
    </div>
    {{#if internal.system.attack}}
    <div class="message-text">
    {{#if internal.system.attack.damage}}
    {{>
        "systems/fathomlessgears/templates/partials/labelled-roll-partial.html"
        label_left=damageText
        total=internal.system.attack.damage
        outcome=""
    }}
    {{/if}}
    {{#if internal.system.attack.marbles}}
    {{>
        "systems/fathomlessgears/templates/partials/labelled-roll-partial.html"
        label_left=marbleText
        total=internal.system.attack.marbles
        outcome=""
    }}
    {{/if}}
    </div>
    {{/if}}
</div>