.chat-message {
	background: var(--color-bg-dialog);
}
.chat-message.whisper {
	background: var(--color-bg-dialog-contrast);
}
.message-content {
	padding-top: 3px;
}
.chat-message .message-header {
	padding-left: 4px;
	padding-right: 4px;
	color: var(--color-text-light-heading);
}
.hit-result {
	display: flex;
	flex-direction: row;
	margin-top: 2px;
	margin-bottom: 2px;
	border-top:1px solid var(--color-border-light-1);
	border-bottom:1px solid var(--color-border-light-1);
	width: 100%;
}
.hit-result .dice-roll {
	flex: 2 0 0;
}
.hit-result .roll-label {
	display: flex;
	align-items: center;
}
.hit-result .outcome {
	flex: 2 0 0;
	justify-content: center;
}
.hit-result .descriptor {
	flex: 3 0 0;
	justify-content: left;
}
.hit-result .roll-outcome-text{
	font-size: var(--font-size-13);
	font-weight: bold;
}
.message-header {
	background: var(--color-bg-header);
	font-size: var(--font-size-14);
	font-weight: bold;
}
.flat-display-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 2px;
	padding-inline: 4px;
	border-bottom: 1px solid var(--color-border-light-1);
}
.flat-display-row .attribute-label {
	font-size: var(--font-size-12);
}
.flat-display-row .attribute-value {
	font-size: var(--font-size-12);
	font-weight: bold;
}
.attribute-value {
	text-align: center !important;
}
.message-subheader {
	font-size: var(--font-size-16);
	width: 100%;
	border-bottom: 1px solid var(--color-border-highlight);
	padding: 3px;
	margin-bottom: 3px;
	justify-content: space-between;
}
.attack-target {
	font-size: var(--font-size-12);
	font-weight: bold;
	font-style: italic;
	margin: 3px 5px;
}
.message-attack-row {
	justify-content: space-around;
}
.message-attack-info {
	font-size: var(--font-size-14);
	margin: 0px 10px 3px;
}