.chat-message {
	background: var(--color-bg-dialog);
}
.chat-message.whisper {
	background: var(--color-bg-dialog-contrast);
}
.message-content {
	padding-top: 3px;
}
.chat-message .message-header {
	padding-left: 4px;
	padding-right: 4px;
	color: var(--color-text-light-heading);
}
.hit-result {
	display: flex;
	flex-direction: row;
	margin-top: 2px;
	margin-bottom: 2px;
	border-top: 1px solid var(--color-border-light-1);
	border-bottom: 1px solid var(--color-border-light-1);
	width: 100%;
}
.hit-result .dice-roll {
	flex: 2 0 0;
}
.hit-result .roll-label {
	display: flex;
	align-items: center;
}
.hit-result .outcome {
	flex: 2 0 0;
	justify-content: center;
}
.hit-result .descriptor {
	flex: 3 0 0;
	justify-content: left;
}
.hit-result .roll-outcome-text {
	font-size: var(--font-size-13);
	font-weight: bold;
}
.new-hit-result {
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 4px 0px;
	border-top: 1px solid var(--color-border-light-1);
	border-bottom: 1px solid var(--color-border-light-1);
	width: 100%;

	& .hit-roll {
		flex: 1 0 100px;
		padding: 0px 8px;
	}

	& .hit-roll-label {
		flex: 1 0 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		& .roll-outcome-text {
			font-size: var(--font-size-14);
			font-weight: bold;
		}
	}

	& .damage-container {
		flex: 1 0 100px;
		display: flex;
		justify-content: center;
		align-items: center;

		& .damage-box {
			padding: 2px 20px;
			border: 1px solid var(--color-border-light-2);
			background-color: var(--color-bg-dialog-contrast);
			font-size: var(--font-size-20);
			font-weight: bold;
			border-radius: 3px;
			box-shadow: 0 0 2px #fff inset;

			&.marbles {
				box-shadow: 0 0 4px 2px var(--color-marbles) inset;
			}
		}
	}
}
.location-roll-row {
	display: flex;
	flex-direction: row;
	justify-content: center;

	& .location-roll-box {
		padding: 4px;
		margin: 2px;
		border: 1px solid var(--color-border-light-2);
		flex: 0 1 50%;

		& .location-roll-header {
			text-align: center;
			font-weight: bold;
		}

		& .location-roll-name {
			text-align: center;
			font-style: italic;
		}
	}
}
.rollable-tag-row {
	padding: 4px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	& .rollable-tag-holder {
		margin: 0px 2px;
		flex: 0 1 45%;

		& .tag-roll-btn {
			padding: 2px;
			font-size: var(--font-size-13);
			font-style: italic;
		}
	}
}

.dice-tooltip .roll-formula-display {
	text-align: center;
	font-style: italic;
}
.message-header {
	background: var(--color-bg-header);
	font-size: var(--font-size-14);
	font-weight: bold;
}
.flat-display-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 2px;
	padding-inline: 4px;
	border-bottom: 1px solid var(--color-border-light-1);
}
.flat-display-row .attribute-label {
	font-size: var(--font-size-12);
}
.flat-display-row .attribute-value {
	font-size: var(--font-size-12);
	font-weight: bold;
}
.attribute-value {
	text-align: center !important;
}
.message-subheader {
	font-size: var(--font-size-16);
	width: 100%;
	border-bottom: 1px solid var(--color-border-highlight);
	padding: 4px;
	margin-bottom: 4px;
	justify-content: space-between;
}
.message-text-only {
	font-size: 16px;
	font-style: italic;
}
.attack-target {
	font-size: var(--font-size-12);
	font-weight: bold;
	font-style: italic;
	margin: 3px 5px;
}
.message-attack-row {
	justify-content: space-around;
}
.message-attack-info {
	font-size: var(--font-size-14);
	margin: 0px 10px 3px;
}
.modifier-info {
	flex-wrap: wrap;
	justify-content: left;
}
.modifier-info .modifier-info-item {
	font-size: var(--font-size-11);
	font-style: italic;
	background-color: var(--color-bg-dialog-contrast);
	padding: 1px 4px 1px 2px;
	margin: 2px;
}
ul.tag-pop-list {
	margin: 4px;
}

.tag-popout {
	width: 150;
	margin: -6px -8px;
	border: 1px solid var(--color-border-dark-primary);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
	text-align: left;
}

.tag-popout-text {
	padding: 3px;
	font-size: var(--font-size-14);
}

.rollable-table-header {
	font-size: var(--font-size-16);
	font-style: italic;
	padding: 4px;
	margin-bottom: 4px;
	border-bottom: 1px solid var(--color-border-dark-secondary);
}

.message-flavour {
	font-size: var(--font-size-13);
	font-style: italic;
	color: var(--color-text-dark-secondary);
	padding-top: 4px;
}

.item-reference-holder {
	margin: 4px;
}

.message-button-row {
	padding: 4px 32px;
}

.repair-cost-message {
	font-size: var(--font-size-16);

	& .total-repairs {
		border-top: 1px solid var(--color-border-light-secondary);
	}

	& .repair-left {
		margin-left: 4px;
		flex: 1 0 75px;
	}

	& .repair-right {
		flex: 0 0 75px;
	}
}

.narrative-dice-holder {
	& .narrative-dice-row {
		justify-content: center;
		flex-wrap: wrap;

		& .narrative-die {
			& .lock-box {
				height: 10px;
				justify-content: center;
				align-items: center;
				& .lock-icon {
					display: none;
					font-size: 8pt;
				}
			}

			&.show-lock {
				&.unlocked {
					& .lock-icon.unlocked {
						display: block;
					}
				}

				&.locked {
					& .lock-icon.locked {
						display: block;
					}
				}
			}

			& .die {
				background-color: #aaaaaa;
				border-radius: 5px;
				position: relative;
				min-width: 50px;
				line-height: 50px;
				float: left;
				margin: 4px;
				background-repeat: no-repeat;
				background-size: 50px 50px;
				font-size: var(--font-size-32);
				color: #000;
				font-weight: bold;
				text-align: center;

				&.from-lock {
					font-style: italic;
				}

				&.val-1 {
					color: #e60000;
				}

				&.val-6 {
					color: #248f24;
				}
			}

			&.locked .die {
				color: #555555;
				border: 2px solid var(--color-border-dark-primary);
				line-height: 46px;
			}
		}

		&.were-locked {
			& .narrative-die {
				& .die {
					min-width: 40px;
					line-height: 40px;
					font-size: var(--font-size-28);
					text-align: left;
					padding-left: 11px;
				}

				&.locked .die {
					line-height: 36px;
					padding-left: 9px;
				}
			}
		}
	}
}
.narrative-success-count {
	width: 20px;
	padding: 2px;
	margin: 2px;
	text-align: center;
	background-color: var(--color-bg-dialog-contrast);
	font-size: var(--font-size-16);
}
.narrative-success-label {
	margin: auto;
	font-size: var(--font-size-11);
	font-style: italic;
}
.narrative-reroll-button-holder {
	& .narrative-reroll-button {
		width: 70px;
		padding: 2px;
		font-size: var(--font-size-14);

		& .reroll-marble-count {
			font-size: var(--font-size-11);
			font-style: italic;
		}
	}
}
