.roll-component-header {
    font-size: 14px;
    border-bottom: 1px solid var(--color-border-light-primary);
    margin-left: 10px;
}
.roll-components {
	border: none;
	border-radius: 0;
    border-bottom: 1px solid var(--color-border-light-primary);
    font-size: 12px;
    margin-left: 10px;
}
li.roll-component-item {
    display: flex;
    flex-direction: row;
    margin: 0;
}
.roll-component-description {
    flex: 1 0 200px;
    padding: 2px 5px;
    margin: 0;
}
.roll-component-value {
    flex: 0 0 30px;
    padding: 2px 5px;
    margin: 0;
}