/*
---------------------------------
    GRID
---------------------------------
*/
.grid-wrapper {
	width: 348px;
	height: 370px;
}
.grid-base {
	width: 350px;
	height: 372px;
	display: flex;
	justify-content: center;
	align-items: center;

	& .grid-region-collection {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: start;
		width: 100%;

		& .grid-region {
			min-width: 31%;
			max-height: 31%;
			margin: 4px;

			& .grid-space-row {
				justify-content: center;

				& .grid-space {
					width: 16px;
					margin: 1px;
					aspect-ratio: 1 / 1;
					display: flex;
					justify-content: center;
					align-items: center;

					& .cover {
						height: 100%;
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;

						&.highlight-cover {
							background-color: #ffffff77;
						}

						& .icon-overlay {
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							padding-top: 1px;
							color: #000;
						}
					}

					&.internal-border-top {
						border-top: 2px solid var(--color-border-dark-primary);
					}

					&.internal-border-right {
						border-right: 2px solid var(--color-border-dark-primary);
					}

					&.internal-border-bottom {
						border-bottom: 2px solid
							var(--color-border-dark-primary);
					}

					&.internal-border-left {
						border-left: 2px solid var(--color-border-dark-primary);
					}

					& .grid-internal-colour {
						width: 100%;
						height: 100%;

						&.closeInternal {
							background-color: var(--color-internal-close);
						}

						&.farInternal {
							background-color: var(--color-internal-far);
						}

						&.mentalInternal {
							background-color: var(--color-internal-mental);
						}

						&.activeInternal {
							background-color: var(--color-internal-active);
						}

						&.mitigationInternal {
							background-color: var(--color-internal-mitigation);
						}

						&.passiveInternal {
							background-color: var(--color-internal-passive);
						}
					}
				}
			}
		}
	}
}
.sheet-body .grid-internal-colour {
	border: 1px solid var(--color-border-dark-primary);
}
.grid-hover-hud:not(.dark) .grid-internal-colour {
	border: 1px solid var(--color-border-dark);
}
.grid-hover-hud.dark .grid-internal-colour.empty {
	border: 1px solid var(--color-border-dark-primary);
}
.grid-base.interactable .grid-space.unlocked:hover .grid-internal-colour {
	border: 2px solid #000000;
}

.grid-space .state-locked {
	color: var(--color-text-dark-1);
	opacity: 0.5;
}
.grid-icon.fa-burst {
	font-size: 8pt;
}
.grid-icon.fa-lock {
	font-size: 8pt;
}

.grid-display .internal-popout {
	visibility: hidden;
	position: fixed;
	z-index: 100;
}
.grid-display .internal-popout.visible {
	visibility: visible;
}
.grid-number-row {
	justify-content: center;
}
.grid-column-number {
	width: 18px;
	font-size: 8pt;
	text-align: center;
}
.grid-region-name {
	font-size: 8pt;
	text-align: center;
}
.grid-hud-attributes {
	width: 100px;
	padding-top: 50px;
}
.grid-font-light {
	font-size: var(--font-size-12);
	font-style: italic;
	color: var(--color-text-dark-2);
}
