.hooklineandmecha .sheet-header {
	flex: 0 0 50px;
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: flex-start;
    padding-left: 5px;
    padding-right: 5px;
	background: var(--color-bg-header);
	color: var(--color-text-light-heading);
}
.actor-sheet-main {
    display: flex;
    flex-direction: row;
}

/*
---------------------------------
    ATTRIBUTE SIDEBAR
---------------------------------
*/
.attribute-col {
    flex: 0 0 170px;
    background-color: var(--color-bg-header-secondary);
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-border-highlight);
    border-top: 1px solid var(--color-border-highlight);
}
.attribute-box {
    justify-content: space-between;
    padding: 0px 5px;
}
.attribute-top-row {
    width: 100px;
    justify-content: space-between;
    align-items: center;
}
.attribute-bottom-row {
    width: 60px;
    justify-content: space-between;
}
.name-box {
    font-size: 12pt;
    text-align: center;
    width: 75px;
    padding: 2px 0px;
    flex-grow: 0;
}
.value-box {
    font-size: 12pt;
    text-align: center;
    padding: 0px 5px;
    flex-grow: 1;
}
.attribute-top-row .attribute-button {
	background: rgba(0, 0, 0, 0.1);
	border: 2px groove var(--color-border-light-primary);
	margin: 0;
    padding: 0;
	border-radius: 2px;
}
.attribute-top-row .attribute-button:hover {
	background-color: #44444466;
    cursor: pointer;
}
.attribute-piece {
    justify-content: space-between;
    flex: 0 0 15px;
    height: 15px;
    font-size: 8pt;
    text-align: center;
    padding-top: 2px;
    align-items: baseline;
}
.piece-label {
    margin: 0;
}
.piece-value {
    width: 15px;
}
input.piece-value.static {
    background-color: var(--color-bg-header-secondary);
    border: none;
    text-align: center;
    height: 13px;
    width: 15px;
    min-width: 15px;
    padding: 0px 2px;
}
input.piece-value.editable {
    background-color: var(--color-bg-dialog);
    text-align: center;
    height: 13px;
    width: 15px;
    min-width: 15px;
    padding: 0px 2px;
}
.divider {
    border-bottom: none;
    margin: 5px 15px 4px 15px;
}
.divider.primary {
    border-top: 1px solid var(--color-border-highlight);
}
.divider.secondary {
    border-top: 1px solid var(--color-border-light-primary);
}

/*
---------------------------------
    NAV ROW
---------------------------------
*/
.sheet-data {
    flex: 1 0 300px;
}
.sheet nav.sheet-tabs {
    width: 100%;
    font-size: 16px;
    background-color: var(--color-bg-dialog-contrast);
    border-top: 1px solid var(--color-border-highlight);
    border-bottom: 1px solid var(--color-border-highlight);
    margin: 0;
}
.sheet-tabs a {
    width: 25%;
    padding: 5px 10px;
    text-align: center;
}
.sheet-tabs a:hover {
    text-shadow: none;
    text-decoration: underline;
    color: var(--color-text-dark-3);
}
.sheet-tabs .active {
    background-color: var(--color-bg-dialog-highlight);
    text-decoration: underline;
}
.tab-content {
    margin: 3px;
}

/*
---------------------------------
    CHARACTER PAGE
---------------------------------
*/
.half-col {
    width: 50%;
    padding: 0px 3px;
}
.fisher-info {
    font-size: 16px;
    align-items: baseline;
}
.actor-name {
    flex: 1 0 50px;
    font-size: var(--font-size-18);
    margin: 1px 3px 5px;
}
input.actor-name {
    margin: 1px 3px 5px;
}
.actor-el {
    flex: 0 0 20px;
    margin: 0;
}
.options-set {
    border-top: 1px solid var(--color-border-highlight);
    border-bottom: 1px solid var(--color-border-highlight);
    margin: 5px 3px;
    padding: 2px 0px;
}
.options-header {
    width: 100%;
    font-size: 14px;
    border: none;
    background-color: var(--color-bg-dialog-contrast);
}
input.background {
    margin: 15px 5px;
}
.resource-row {
    align-items: baseline;
    padding-left: 5px;
    padding-right: 5px;
}
.marbles {
    flex: 0 0 0px;
}
label.marbles {
    flex: 1 0 40px;
}

/*
---------------------------------
    CHARACTER PAGE
---------------------------------
*/
.gear-col {
    padding: 0px 3px;
}
input.gear-name {
    font-size: var(--font-size-18);
    margin: 1px 3px 5px;
}
.frame-name {
    font-size: var(--font-size-16);
    border-bottom: 1px solid var(--color-border-highlight);
    margin: 3px 0px;
}
.frame-ability-name {
    border: none;
    font-size: var(--font-size-15);
    margin: 0;
    padding: 1px;
    padding-left: 5px;
}
.frame-ability {
    border-bottom: 1px solid var(--color-border-light-primary);
    margin: 5px 0px;
    padding: 2px;
}
.frame-ability-row {
    justify-content: space-between;
    background-color: var(--color-bg-dialog-contrast);
}
button.button.post-message {
    font-size: var(--font-size-10);
    width: 40px;
    height: 16px;
}