:root {
    /*https://coolors.co/bbbfc0-222423-505452-507681-2b47e9*/
    --silver: #bbbfc0ff;
    --eerie-black: #222423ff;
    --davys-gray: #505452ff;
    --paynes-gray: #507681ff;
    --palatinate-blue: #2b47e9ff;

    --color-text-light-highlight: #dfe1e2;
    --color-text-light-heading: #cacdce;
    --color-text-light-primary: #aaafb1;
    --color-text-dark-primary: #141515;
    --color-text-dark-secondary: #272a2a;
    --color-text-dark-header: #1d1f20;
    --color-text-dark-inactive: #45494a;
    --color-text-hyperlink: #2b47e9;
    --color-text-light-0: #fff;
    --color-text-light-1: #eee;
    --color-text-light-2: #ddd;
    --color-text-light-3: #ccc;
    --color-text-light-4: #bbb;
    --color-text-light-5: #aaa;
    --color-text-light-6: #999;
    --color-text-light-7: #888;
    --color-text-dark-1: #111;
    --color-text-dark-2: #222;
    --color-text-dark-3: #444;
    --color-text-dark-4: #555;
    --color-text-dark-5: #666;
    --color-text-dark-6: #777;
    --color-border-light-1: #ddd;
    --color-border-light-2: #999;
    --color-border-dark-1: #111;
    --color-border-dark-2: #222;
    --color-border-dark-3: #333;
    --color-border-dark-4: #444;
    --color-border-dark-5: #666;
    --color-shadow-primary: #ff0000;
    --color-shadow-highlight: #ff6400;
    --color-shadow-dark: #000;
    --color-underline-inactive: #7a7971;
    --color-underline-active: #44191A;
    --color-underline-header: #782e22;
    --color-border-light-highlight: #cacdce;
    --color-border-light-primary: #b5b9ba;
    --color-border-light-secondary: #a0a5a7;
    --color-border-light-tertiary: #8a9193;
    --color-border-dark: #000;
    --color-border-dark-primary: #222423;
    --color-border-dark-secondary: #3b3f3d;
    --color-border-dark-tertiary: #4f5452;
    --color-border-highlight: #0e1f81;
    --color-border-highlight-alt: #ff0000;
    --color-bg-btn-minor-inactive: #a1a5a3;
    --color-bg-btn-minor-active: #505452;
    --color-bg-option: #969c9a;
    --color-bg-header: #222423;
    --color-bg-header-secondary: #a0a5a7;
    --color-bg-dialog: #cacecc;
    --color-bg-dialog-high-contrast: #8a8d8f;
    --color-bg-dialog-contrast: #aaafb1;
    --color-bg-dialog-highlight: #bbbfc0;
    --color-checkbox-checked: #666;
    --color-ownership-none: #5500ff;
    --color-ownership-observer: #7a7971;
    --color-ownership-owner: #b5b3a4;
    --color-scrollbar:  #272a2a;
    --z-index-canvas: 0;
    --z-index-app: 30;
    --z-index-ui: 60;
    --z-index-window: 100;
    --z-index-tooltip: 9999;
    --sidebar-width: 300px;
    --sidebar-header-height: 32px;
    --sidebar-item-height: 48px;
    --hotbar-height: 52px;
    --hotbar-width: 578px;
    --macro-size: 50px;
    --players-width: 200px;
    --form-field-height: 26px;
    --font-primary: "Signika", sans-serif;
    --font-mono: monospace;
    --font-awesome: "Font Awesome 6 Pro";
    --font-size-11: 0.6875rem;
    --font-size-12: 0.75rem;
    --font-size-13: 0.8125rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-48: 3rem;
    --line-height-12: 0.75rem;
    --line-height-16: 1rem;
    --line-height-20: 1.25rem;
    --line-height-30: 1.875rem;
    --color-level-info: #5c87b9;
    --color-level-warning: #b18404;
    --color-level-error: #750003;
    --color-level-success: #266c3c;
  }