input.sheet-input {
    border: none;
    border-bottom: 1px solid var(--color-border-light-primary);
    border-radius: 0;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}